.settings_component h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.settings_component {
  padding: 20px 0;
  min-height: calc(100vh - 40px);
  width: calc(100% - 250px);
  position: relative;
  padding-top: 80px;
  left: 250px;
}

.settings_component__container,
.settings_product__container {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  background-color: #232a35;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.image_input {
  display: none;
}

.image_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #4b596c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  cursor: pointer;
}

.settings_profile_inputs,
.settings_product__container__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.settings_product__container__left,
label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings_profile_inputs input,
.settings_product__container__right input {
  width: 100%;
  padding: 10px;
  background-color: #4b596c;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.settings_profile_inputs input::placeholder,
.settings_product__container__right input::placeholder {
  color: #ffffff8d;
}

.settings_profile_inputs button,
.settings_product__container__right button {
  width: 100%;
  padding: 10px;
  background-color: #0077e4;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settings_profile_inputs button:hover,
.settings_product__container__right button:hover {
  background-color: #4b596c;
}

@media screen and (max-width: 860px) {
  .settings_component {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .settings_component__container,
  .settings_product__container {
    flex-direction: column;
  }
}
