.settings_component h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

.settings_component {
    padding: 20px 0;
    min-height: calc(100vh - 80px);
}