<div class="profile_component">
  <h3>Profile</h3>
  <section>
    <div class="profile_component__container">
      <div class="profile_component__container__left">
        <div class="profile_component__container__left__image">
          <img src="assets/profile.jpg" alt="profile image" />
        </div>
        <div>
          <div class="profile_component__container__left__name">
            <h4>John Doe</h4>
          </div>
          <div class="profile_component__container__left__email">
            <p>
              <span>Email:</span>
              <span>
                <a href="mailto:johndoe@email.com"> johndoe@email.com</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <h3>Transactions</h3>
    <div class="transactions_container">
      <div class="transaction">
        <div class="transaction__left">
          <div class="transaction__left__name">
            <p>John Doe</p>
          </div>
          <div class="transaction__right__date">
            <p>Date: 12/12/2020</p>
          </div>
        </div>
        <div class="transaction__right">
          <div class="transaction__right__amount">
            <p>Amount: ₦ 23,000</p>
          </div>
          <div class="transaction__left__status complete">
            <p>Completed</p>
          </div>
        </div>
      </div>
      <div class="transaction">
        <div class="transaction__left">
          <div class="transaction__left__name">
            <p>John Doe</p>
          </div>

          <div class="transaction__right__date">
            <p>Date: 12/12/2020</p>
          </div>
        </div>
        <div class="transaction__right">
          <div class="transaction__right__amount">
            <p>Amount: ₦ 12,000</p>
          </div>
          <div class="transaction__left__status pending">
            <p>Pending</p>
          </div>
        </div>
      </div>
      <div class="transaction">
        <div class="transaction__left">
          <div class="transaction__left__name">
            <p>John Doe</p>
          </div>
          <div class="transaction__right__date">
            <p>Date: 12/12/2020</p>
          </div>
        </div>
        <div class="transaction__right">
          <div class="transaction__right__amount">
            <p>Amount: ₦ 10,000</p>
          </div>

          <div class="transaction__left__status fail">
            <p>Failed</p>
          </div>
        </div>
      </div>
    </div>
    <h3>Products Uploaded</h3>
    <div class="products_container">

      <div class="product">
        <div class="product__image">
          <img src="assets/product.jpg" alt="product image" />
        </div>
        <div class="product__details">
          <div class="product__details__name">
            <p>Product Name</p>
          </div>
          <div class="product__details__price">
            <p>Price: ₦ 23,000</p>
          </div>
          <div class="product__details__status">
            <p>Bought: 45</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="product__image">
          <img src="assets/product.jpg" alt="product image" />
        </div>
        <div class="product__details">
          <div class="product__details__name">
            <p>Product Name</p>
          </div>
          <div class="product__details__price">
            <p>Price: ₦ 23,000</p>
          </div>
          <div class="product__details__status">
            <p>Bought: 14</p>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="product__image">
          <img src="assets/product.jpg" alt="product image" />
        </div>
        <div class="product__details">
          <div class="product__details__name">
            <p>Product Name</p>
          </div>
          <div class="product__details__price">
            <p>Price: ₦ 23,000</p>
          </div>
          <div class="product__details__status">
            <p>Bought: 200</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
