@import url("https://fonts.cdnfonts.com/css/ocr-a-std");

.payments_component {
  min-height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  width: calc(100% - 250px);
  padding-top: 80px;
  left: 250px;
}

.header_payments {
  width: 100%;
  display: flex;
  position: absolute;
  right: 0;
  top: 80px;
  align-items: flex-start;
  justify-content: space-between;
}

.header_payments h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.card {
  width: 350px;
  height: 180px;
  color: #fff;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #0076e4, #ff2c7d);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  backface-visibility: hidden;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.card-no {
  font-size: 22px;
  margin-top: 15px;
}

.card-no p,
.name p:last-child {
  font-family: "OCR A Std", monospace !important;
}

.card-holder {
  font-size: 10px;
  margin-top: 10px;
}

.name {
  font-size: 18px;
  margin-top: 10px;
}

.bar {
  background: #222;
  margin-left: -30px;
  margin-right: -30px;
  height: 30px;
  margin-top: 10px;
}

.card-cvv {
  margin-top: 20px;
}

.card-cvv div {
  flex: 1;
}

.card-cvv img {
  width: 100%;
  display: block;
  line-height: 0;
}

.card-cvv p {
  background: #fff;
  color: #000;
  font-size: 14px;
  padding: 5px 20px;
}

.card-text {
  margin-top: 10px;
  font-size: 10px;
}

.signature {
  margin-top: 10px;
}

.back {
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}

.add_card {
  background-color: #0076e4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.add_card:hover {
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

@media screen and (max-width: 860px) {
  .card {
    width: 100%;
    height: 180px;
  }
  .card-inner {
    width: 100%;
    height: 100%;
  }
  .card-no {
    font-size: 18px;
  }
  .card-holder {
    font-size: 8px;
  }
  .payments_component {
    width: 100%;
    left: 0;
  }
}
