<div class="payments_component">
  <button class="add_card">Add Card</button>
  <div class="card">
    <div class="card-inner">
      <div class="front">
        <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" />
        <div class="row">
          <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="40px" />
          <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px" />
        </div>
        <div class="row card-no">
          <p>5244</p>
          <p>2150</p>
          <p>8252</p>
          <p>6420</p>
        </div>
        <div class="row card-holder">
          <p>CARD HOLDER</p>
          <p>VALID TILL</p>
        </div>
        <div class="row name">
          <p>JOHN DOE</p>
          <p>10/25</p>
        </div>
      </div>
      <div class="back">
        <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img" />
        <div class="bar"></div>
        <div class="row card-cvv">
          <div>
            <img src="https://i.ibb.co/S6JG8px/pattern.png" />
          </div>
          <p>824</p>
        </div>
        <div class="row card-text">
          <p>this is a virtual card design using HTML and CSS.</p>
        </div>
        <div class="row signature">
          <p>CUSTOMER SIGNATURE</p>
          <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="40px" />
        </div>
      </div>
    </div>
  </div>
</div>
